* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/bg.webp);
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  border-radius: 20px;
}

.mainImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.linkBtn {
  display: block;
  margin: 0 auto;
  background-color: #4a8638;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 96%;
}

.linkBtn:hover {
  background-color: #397726;
}
